body {
	font-family: "Book Antiqua", Palatino, "Palatino Linotype", "Palatino LT STD", Georgia, serif;
	background: rgb(242,246,248); /* Old browsers */
background: -moz-linear-gradient(top,  rgba(242,246,248,1) 0%, rgba(216,225,231,1) 50%, rgba(181,198,208,1) 51%, rgba(224,239,249,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(242,246,248,1)), color-stop(50%,rgba(216,225,231,1)), color-stop(51%,rgba(181,198,208,1)), color-stop(100%,rgba(224,239,249,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(242,246,248,1) 0%,rgba(216,225,231,1) 50%,rgba(181,198,208,1) 51%,rgba(224,239,249,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(242,246,248,1) 0%,rgba(216,225,231,1) 50%,rgba(181,198,208,1) 51%,rgba(224,239,249,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(242,246,248,1) 0%,rgba(216,225,231,1) 50%,rgba(181,198,208,1) 51%,rgba(224,239,249,1) 100%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(242,246,248,1) 0%,rgba(216,225,231,1) 50%,rgba(181,198,208,1) 51%,rgba(224,239,249,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f2f6f8', endColorstr='#e0eff9',GradientType=0 ); /* IE6-9 */
	text-align: center;
	padding: 1em;
}

h1 {
	font-size: 4em;
	margin-bottom: 0.5em;
}

#bookshelf {
	width: 600px;
	height: 600px;
	margin-left: auto;
	margin-right: auto;
	background: url(../img/bookshelf.png) no-repeat top left;
}

#todo {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.instructions {
	width: 400px;
	margin-top: 200px;
	margin-left: auto;
	margin-right: auto;
	background: rgba(0, 0, 0, 0.5);
	color: white;
	padding: 2em;
	text-align: left;
}

#todo ol {
	list-style-type: decimal;
}

#todo li {
	line-height: 1.3em;
	margin-bottom: 0.2em;
}